/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22.01.2016, 21:24:33
    Author     : Michael
*/

#vvod {
    margin: 0 auto;
    width: 38%;

}
#butt{
  margin:0 0 0 30px;
display:block;  
}
#gh{    
}
.ter{
    margin:0;
    display:block;
    margin-left: 611px;
    /* margin-bottom: 200px; */
    font-size: 70px;
    color:greenyellow;
}
#tt{
    margin-left: 687px;
}
#ret{
    font-weight:bold; text-align: center;
}
#de{
    margin: 30px 0 0 250px
}
#fer {margin-left: 250px
}
#op{
    margin-left: 250px
}
#pop{
    margin-left: 250px
}

#result_ok {
    display:none;
}

#result_neok {
    display:none;
}
.planeta{
    height: 588px;
    width: 588px; 
    float: left;   
}
#ugad{
    
    width: 500pxpx;
     height: 300px;  
}

   
